<div class="card mb-3">
  <h2 class="card-header h4">
    Dungeonmaster #<%= dungeonmaster.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Description</dt>
      <dd><%= dungeonmaster.description %></dd>

      <dt>Preferences</dt>
      <dd><%= dungeonmaster.preferences %></dd>

      <dt>Photo</dt>
      <dd>
        <%= cl_image_tag @dungeonmaster.photo, class: "img-fluid" %>
      </dd>

      <dt>Years experience</dt>
      <dd><%= dungeonmaster.years_experience %></dd>

      <dt>Age</dt>
      <dd><%= dungeonmaster.age %></dd>

      <dt>Characters</dt>
      <dd><%= dungeonmaster.characters %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back dungeonmaster, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_dungeonmaster_url(dungeonmaster), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to dungeonmaster, method: :delete, data: { confirm: "Do you really want to delete this dungeonmaster?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(dungeonmaster.updated_at) %> ago
  </div>
</div>
