<% was_validated = game.errors.any? %>

<%= form_with(model: game, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% dm_class = "form-control" %>
    <% dm_was_invalid = game.errors.include?(:dm) %>

    <% if was_validated %>
      <% if dm_was_invalid %>
        <% dm_class << " is-invalid" %>
      <% else %>
        <% dm_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dm_id %>
    <%= f.collection_select :dm_id, Dungeonmaster.all, :id, :to_s, {}, class: "form-control" %>
    <% if dm_was_invalid %>
      <% game.errors.full_messages_for(:dm).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% player_class = "form-control" %>
    <% player_was_invalid = game.errors.include?(:player) %>

    <% if was_validated %>
      <% if player_was_invalid %>
        <% player_class << " is-invalid" %>
      <% else %>
        <% player_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :player_id %>
    <%= f.collection_select :player_id, Player.all, :id, :to_s, {}, class: "form-control" %>
    <% if player_was_invalid %>
      <% game.errors.full_messages_for(:player).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% date_class = "form-control" %>
    <% date_was_invalid = game.errors.include?(:date) %>

    <% if was_validated %>
      <% if date_was_invalid %>
        <% date_class << " is-invalid" %>
      <% else %>
        <% date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :date %>
    <%= f.date_select :date, class: date_class, placeholder: "Enter date" %>
    <% if date_was_invalid %>
      <% game.errors.full_messages_for(:date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% time_class = "form-control" %>
    <% time_was_invalid = game.errors.include?(:time) %>

    <% if was_validated %>
      <% if time_was_invalid %>
        <% time_class << " is-invalid" %>
      <% else %>
        <% time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :time %>
    <%= f.time_select :time, class: time_class, placeholder: "Enter time" %>
    <% if time_was_invalid %>
      <% game.errors.full_messages_for(:time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% capacity_class = "form-control" %>
    <% capacity_was_invalid = game.errors.include?(:capacity) %>

    <% if was_validated %>
      <% if capacity_was_invalid %>
        <% capacity_class << " is-invalid" %>
      <% else %>
        <% capacity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :capacity %>
    <%= f.number_field :capacity, class: capacity_class, placeholder: "Enter capacity" %>
    <% if capacity_was_invalid %>
      <% game.errors.full_messages_for(:capacity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = game.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <% if location_was_invalid %>
      <% game.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
