<%= form_with(model: @game, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dm_id %>

    <%= f.collection_select :dm_id, Dungeonmaster.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :player_id, value: @player.id %>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>

    <%= f.date_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :capacity %>

    <%= f.text_field :capacity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <%= f.submit "Create game", class: "btn btn-block btn-outline-secondary" %>
<% end %>
