<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% dm_class = "form-control" %>
    <% dm_was_invalid = review.errors.include?(:dm) %>

    <% if was_validated %>
      <% if dm_was_invalid %>
        <% dm_class << " is-invalid" %>
      <% else %>
        <% dm_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dm_id %>
    <%= f.collection_select :dm_id, Dungeonmaster.all, :id, :to_s, {}, class: "form-control" %>
    <% if dm_was_invalid %>
      <% review.errors.full_messages_for(:dm).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = review.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating %>
    <%= f.text_field :rating, class: rating_class, placeholder: "Enter rating" %>
    <% if rating_was_invalid %>
      <% review.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% reviewer_class = "form-control" %>
    <% reviewer_was_invalid = review.errors.include?(:reviewer) %>

    <% if was_validated %>
      <% if reviewer_was_invalid %>
        <% reviewer_class << " is-invalid" %>
      <% else %>
        <% reviewer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reviewer_id %>
    <%= f.collection_select :reviewer_id, Player.all, :id, :to_s, {}, class: "form-control" %>
    <% if reviewer_was_invalid %>
      <% review.errors.full_messages_for(:reviewer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% review_class = "form-control" %>
    <% review_was_invalid = review.errors.include?(:review) %>

    <% if was_validated %>
      <% if review_was_invalid %>
        <% review_class << " is-invalid" %>
      <% else %>
        <% review_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review %>
    <%= f.text_field :review, class: review_class, placeholder: "Enter review" %>
    <% if review_was_invalid %>
      <% review.errors.full_messages_for(:review).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
